@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-pbpurple: #8B3F93;
  --font-family-sans: 'Inter', sans-serif;
}

@import './base.css';

* {
  font-family: 'Inter', sans-serif;
}